# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
[Pp]latforms/
LastShipStanding.v11.*
LastShipStanding/LastShipStanding/merges
LastShipStanding/LastShipStanding/res
LastShipStanding/LastShipStanding/www
LastShipStanding/LastShipStanding/build.json
LastShipStanding/LastShipStanding/config.xml
LastShipStanding/LastShipStanding/LastShipStanding.jsproj
LastShipStanding/LastShipStanding/package.json
LastShipStanding/LastShipStanding/Project_Readme.html
LastShipStanding/LastShipStanding/taco.json
LastShipStanding/LastShipStanding.sln
LastShipStanding/.vs/