.btn {
	display: table;
	margin: 0 auto;
 	}
.body {
	background-image: url("../images/sketch.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: 400px 300px;
}
.wrapper {
	background: gray;
	padding: 4em 0;
}