
body {
	background-color: gray;
}

.wrapper {
	background: gray;
}

#view1 img{
	width: 20em;
	height: 20em;
	border: solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4em;
}

#view1 button {
	display: table;
	margin: 0 auto;
	width:30em;
	height: 5em;
	margin-bottom: 2em;
}

#view1_title {

	text-align: center;
	text-shadow: 0em 0em 2em blue;
	color:white;
	font-size: 500%;

	margin-top: 2em;
	margin-bottom: 2em;

	/* Positioning */
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#view1_title:hover {
	color:blue;
}

#view3_canvas{
	/*width: 80%;
	height: 100%;*/
	outline:20;
	border:0.125em solid #000;
	float:left;
}

#view3_windArrow{
	outline:20;
	border:0.25em solid #000;
	margin-top: 1em;
}